.dashboard{
    display: flex;
    justify-content: center;
    //align-items: center;
    margin: 20px 100px 20px 100px;
    flex-direction: column;
    
    .container{
        display: flex;
        justify-content: space-between;
        
        
    
    }
}