.featured{
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin-top: 10px;

   .item{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 7px 5px 29px -18px rgba(66, 68, 90, 1);
    height: fit-content;
    align-items: center;

    .title{
        font-size: 18px;

        .moneyContainer{
            margin: 10px 0px;
            display: flex;
            align-items: center;
            .moneyPay{
                display: flex;
                justify-content: center;
                font-size: 22px;
                font-weight: bold;
                align-items: center;
            }
        }
    }
    }
}