
.container{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
.wrapper{
  display: flex;
  align-items: center;
.camera{
  display: flex; 
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;

  video{
    border-radius: 5px;
  }
  
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    background-color: darkblue;
    color: white;
    cursor: pointer;
  }

  .snap{
    display: flex;
    padding: 10px;
  }
 
}

  .result{
    margin-top: 50px;
    height: 300px;
    width: 300px;
  }
}
}